@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    text-align: center;
    background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    color: #555;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 32px;
    height: 100vh;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

.animated-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    animation: showup 7s infinite;
}

.animated-text div {
    display: inline-block;
}

.animated-text div:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 355px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 355px;
    }
}

#startConfettiButton {
    background-color: #00619b;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Adjusted margin-top for button */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#startConfettiButton:hover {
    background-color: #0056b3;
}

p {
    font-size: 12px;
    color: #999;
    margin-top: 200px;
}
